.popup__text {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0 43px;
  width: 83%;
  text-align: start;
}

@media(max-width:550px) {
  .popup__text {
    font-size: 20px;
  }
}
