.popup__save-button {
    margin: 14px 0 37px;
    padding: 0;
    border: 0;
    width: 83%;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}